img {
    width: 200px
}
body {
    text-align: center;
    font-family: 'Courier';
    background: azure;
    color: blue;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.spinning-text {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color:blue;
    animation: spin 1s linear infinite;
}